// Mandatory library file
@import "swiper/scss";

.SwiperContainer {
  position: relative;

  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      gap: 8px;
      z-index: 10;
      @include padding-vertical(30);

      .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
        opacity: 0.5;
        border-radius: 7px;
        background-color: $yellowFuel;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
          opacity: 1;
          width: 26px;
        }
      }
    }
  }

  .SwiperNavigation {
    position: absolute;
    right: 35px;
    bottom: 30px;
    gap: 15px;
    z-index: 100;

    .SwiperButton {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      color: $yellowFuel;
      background-color: $white;

      &:hover {
        color: $white;
        background-color: $yellowFuel;
        box-shadow: $shadow1;
      }
    }
  }

  &.CircleSwiperPagination {
    .swiper-pagination {
      position: static;
      gap: 6px;
      align-items: center;


      .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
        background-color: #D9D9D9;

        &.swiper-pagination-bullet-active {
          width: 9px;
          height: 9px;
          border: 2px solid $pumpkinOrange;
          box-sizing: content-box;
        }
      }
    }
  }
  &.CircleSwiperPaginationWhite {
    .swiper-pagination {
      position: absolute;
      .swiper-pagination-bullet {
        $size: 10px;
        height: $size;
        width: $size;
        background-color: $white;
        &.swiper-pagination-bullet-active {
          height: $size;
          width: $size;
          outline: 5px solid rgba($white, 0.4);
        }
      }
    }
  }

  &.LinedSwiperPagination {
    .swiper-pagination {
      position: static;
      padding-bottom: 0;
      align-items: center;
      gap: 0;

      .swiper-pagination-bullet {
        height: 3px;
        width: 224px;
        background-color: #00000017;
        margin: 0;
        border-radius: 0;

        &.swiper-pagination-bullet-active {
          height: 5px;
          width: 224px;
          background-color: $pumpkinOrange;
          border-radius: 7px !important;
        }

        &:first-child {
          border-radius: 7px 0 0 7px;
        }

        &:last-child {
          border-radius: 0px 7px 7px 0;
        }
      }
    }
  }

}