#BmkForgotPassword {
  @include media($ssm) {
    flex-direction: column;
  }

  .LeftPart {
    flex: 0.5;

    .LoginImage {
      height: 100%;
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;

      @include media($sm) {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .RightPart {
    flex: 0.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      padding: 50px;
      width: 100%;
      max-width: 500px;

      @include media($ssm) {
        padding: 40px 24px;
        max-width: 100%;
      }

      .Header {
        margin-bottom: 22px;
        text-align: center;

        .SuccessMessage {
          font-size: 15px;
          padding: 10px;
          background: $success10;
          margin-top: 10px;
          color: $success;
        }
        .ErrorMessage{
          font-size: 15px;
          padding: 10px;
          background: #ff00003d;
          margin-top: 10px;
          color: $error;
        }
      }


      .FieldWrapper {
        flex-direction: column;
        gap: 24px;

        .MuiFormControl-root {
          .MuiInputBase-root {
            border-radius: 0;
            margin-top: 0 !important;

            .MuiInputBase-input {
              padding: 13px 16px;
            }
          }
        }
      }

      .BackToLogin {
        margin-top: 10px;
      }

      .FormAction {
        margin-top: 34px;
      }
    }
  }
}