#BestCategorySlider {
    @include padding-vertical(54, 50);

    @include media($md) {
        @include padding-vertical(60, 82);
    }


    .BullionmarkSectionHeading {
        margin-bottom: 49px;

        .Title {
            @include media($md) {
                font-size: 32px;
                letter-spacing: -2px;
            }
        }
    }

    .BmkProductsSliderWrapper {
        .SwiperContainer {
            .swiper {
                .BmkProductCardLink {
                    text-decoration: none;

                    .BmkProductCard {
                        padding-bottom: 20px;
                        border-radius: 0;

                        .ProductImageWrapper {
                            .ProductImage {
                                width: 100%;
                            }
                        }

                        .ProductTitle {
                            position: absolute;
                            bottom: 0;
                            left: 15px;
                            right: 15px;
                            @include padding-vertical(20);
                            background-color: $pumpkinOrange;
                            border: 1px solid rgb($pumpkinOrange, .35);
                            box-shadow: 0px 4px 14px 0px #00000014;
                            color: $white;
                            text-align: center;
                            text-transform: uppercase;

                            h4 {
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                .swiper-pagination {
                    padding-top: 45px;

                    @include media($md) {
                        display: none
                    }
                }
            }
        }

    }
}

#BmkFeaturedProductsSlider {
    @include padding-vertical(93, 125);
    background: #F7EDE566;

    @include media($md) {
        @include padding-vertical(63, 57);
    }

    .BmkProductsWrapper {
        .SwiperContainer {
            .swiper {
                padding-top: 56px;

                @include media($md) {
                    padding-top: 40px;
                }

                .swiper-pagination {
                    padding-top: 57px;
                }
            }
        }
    }


}

#OneBigPicSlider {
    background-repeat: no-repeat;
    background-size: cover;
    @include padding-vertical(141);
    text-align: center;

    @include media($md) {
        @include padding-vertical(60);
    }

    .BannerWrapper {
        .OfferTag {
            display: inline-block;
            font-size: 15px;
            line-height: 20px;
            font-weight: 300;
            background-color: $white;
            padding: 8px 40px;
            border-radius: 9px;
        }

        .BannerTitle {
            font-size: 70px;
            line-height: 76px;
            font-weight: 600;
            color: $white;
            max-width: 800px;
            padding: 0 10px;
            margin: 21px auto;

            @include media($md) {
                font-size: 30px;
                line-height: 35px;
                max-width: 400px;
            }

            @include media($ssm) {
                max-width: 100%;
            }
        }

        .BannerDescription {
            font-size: 25px;
            line-height: 28px;
            font-weight: 300;
            letter-spacing: 4px;
            color: $white;

            @include media($md) {
                font-size: 20px;
                line-height: 25px;
                padding: 0 10px;
            }
        }

        .MuiButton-root {
            margin-top: 60px;

            @include media($ssm) {
                margin-top: 40px;
            }
        }

    }
}

#BmkPopularProductSlider {
    @include padding-vertical(88, 62);

    @include media($md) {
        @include padding-vertical(68);
    }

    .BullionmarkSectionHeading {
        margin-bottom: 55px;

        @include media($md) {
            margin-bottom: 38px;
        }
    }

    .ToggleWrapper {
        justify-content: center;
    }

    .BmkProductsWrapper {
        .SwiperContainer {
            .swiper {
                padding-top: 63px;

                @include media($md) {
                    padding-top: 50px;
                }

                .swiper-pagination {
                    padding-top: 65px;
                }
            }
        }
    }

}