.MuiToggleButtonGroup-root{
    &.AccountTypeWrapper {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        border: none;
    
        .AccountType {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid $mercury;
            border-radius: 6px;
            margin-top: 14px;
            transition: .2s;
            text-transform: initial;
    
            &:first-of-type {
                margin: 0;
            }
    
            &.Mui-selected:hover {
                background-color: #{$dark}0a;
            }
    
            &.Mui-selected {
                border-color: $dark;
                background-color: #{$dark}0a;
                letter-spacing: 0;
            }
    
            .AccountTypeName {
                gap: 6px;
    
                svg {
                    color: $yellowFuel;
                }
    
                .MuiTypography-root {
                    color: $dark;
                    font-weight: 600;
                }
            }
    
            .description {
                text-align: left;
                margin-top: 6px;
                color: $elephant;
                font-weight: 500;
            }
        }
    }
}
