.BlogDetailPage {
  .PostDescription {
    @include padding-vertical(20, 40);

    @include media($sm) {
      padding-bottom: 30px;
    }

    .BackButton {
      color: $dark;
      font-size: 15px;
      line-height: 26px;
    }

    .PostUploadInfo {
      margin-top: 20px;
      gap: 10px 48px;
      flex-wrap: wrap;

      .Value {
        @include media-min($lg) {
          margin-top: 8px;
        }
      }
    }

    .BlogTitle {
      margin-top: 20px;

      @include media($md) {
        margin-top: 16px;
      }
    }

    .ContentWrapper {
      .PostThumbnail {
        margin-top: 20px;

        img {
          width: 100%;
          max-height: 550px;
          object-fit: cover;
          border-radius: 20px;

          @include media($lg) {
            max-height: 450px;
          }

          @include media($md) {
            max-height: 400px;
          }
        }
      }

      .PostContent {
        @include padding-vertical(20);

        & > * {
          margin-top: 14px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .FooterContent {
        justify-content: space-between;
        align-items: flex-end;

        @include media($md) {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }

        .Left {
          .SocialIconWrapper {
            margin-top: 16px;
            gap: 12px;

            .SocialIcon {
              background-color: $water;
              border-radius: 50%;

              svg {
                path {
                  fill: $dark;
                }
              }
            }
          }
        }

        .Right {
          display: flex;
          gap: 11.5px;

          @include media($md) {
            flex-wrap: wrap;
          }

          .MuiChip-root {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            padding: 4px 13.3px;
            height: auto;

            .MuiChip-label {
              padding: 0;
            }
          }
        }
      }
    }

    .RecentPosts {
      margin-top: 50px;
      @include media($md) {
        margin-top: 40px;
      }
      .MuiGrid-item {
        flex-grow: 1;
      }
    }
  }

  .NewsLetter {
    background: $yellowFuel05;
    @include padding-vertical(70);

    @include media($sm) {
      @include padding-vertical(40);
    }

    .NewsLetterWrapper {
      text-align: center;

      .NewsLetterBox {
        margin-top: 40px;
        gap: 16px;
        display: flex;
        justify-content: center;

        @include media($sm) {
          margin-top: 20px;
        }

        @include media($xxs) {
          gap: 10px;
        }

        .MuiFormControl-root {
          width: 394px;

          .MuiInputBase-root {
            .MuiInputBase-input {
              padding: 12px;
            }
          }
        }

        .MuiButton-root {
          @include media($xxs) {
            padding: 9px;
          }
        }
      }

      .TermsCondition {
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }
}

.BmkBlogDetailPage {
  .BlogContainer {
    .BlogDetail {
      margin-bottom: 60px;
      .Header {
        flex-direction: column;
        justify-content: center;
        gap: 11px;
        text-align: center;
        @include media($sm) {
          text-align: left;
          flex-direction: column-reverse;
        }
        .BlogTitle {
          letter-spacing: -2px;
        }
        .BlogSubtitle {
          font-weight: 400;
        }
      }
      .PostThumbnail {
        margin-top: 32px;
        img {
          width: 100%;
          max-height: 700px;
          object-fit: cover;
        }
      }
      .AboutWrapper {
        $iconSize: 53px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 35px;
        .CircleButton {
          color: $elephant;
          border-radius: 50%;
          border: 1px solid $dark;
          @include media-min($lg) {
            width: $iconSize;
            height: $iconSize;
          }
        }
        .PostUploadInfo {
          gap: 22px;
          .InfoWrapper {
            align-items: center;
            gap: 12px;
            .Title {
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
              color: $greyCarbon;
            }
            .Value {
              line-height: 1;
            }
            &.Profile {
              .MuiAvatar-root {
                @include media-min($lg) {
                  width: $iconSize;
                  height: $iconSize;
                }
              }
            }
          }
        }
        .SocialMedia {
          align-items: center;
          gap: 11px;
          .SocialIconWrapper {
            gap: 10px;
          }
        }
      }
      .ContentWrapper {
        margin-top: 46px;
      }
    }
    .RecentPost {
      margin-bottom: 60px;
      &-Header {
        text-align: center;
        margin-bottom: 41px;
      }
      .PostsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 36px;
        @include media($md) {
          gap: 30px 20px;
        }
        @include media($ssm) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}