#BmkBanner {
    &.BullionmarkHomeBanner {
        .SwiperContainer {
            .HeroBannerSliderWrapper {
                // height: 100vh;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // background-size: 100% 100%;
                // position: relative;
                // z-index: 1;

                // @include media($md) {
                //     height: auto;
                //     min-height: 550px;
                // }

                // @include media($sm) {
                //     height: auto;
                //     min-height: 300px;
                // }
                img {
                    width: 100%;
                }

                &:after {
                    position: absolute;
                    background: linear-gradient(287.69deg, rgba(0, 0, 0, 0) 5.28%, rgba(0, 0, 0, 0.58) 95.14%);
                    z-index: -1;
                    content: "";
                    width: 100%;
                    height: 100%;
                    transform: rotate(-180deg);
                }

                .HeroBannerTopWrapper {
                    text-align: center;
                    position: relative;
                    width: 100%;

                    .SlideDescription {
                        font-size: 20px;
                        color: $white;
                        font-weight: 600;
                        margin-top: 0;

                        @include media($md) {
                            font-size: 14px;
                        }
                    }

                    .SlideTitle {
                        font-size: 60px;
                        line-height: 71px;
                        font-weight: 800;
                        color: $white;
                        padding: 35px 10px 57px;
                        max-width: 1060px;
                        margin: auto;

                        @include media($md) {
                            font-size: 30px;
                            line-height: 35px;
                            padding: 20px 10px 39px;
                            max-width: 100%;
                        }
                    }
                }



                .MuiButton-root {
                    @include media($sm) {
                        margin-top: 15px;
                    }
                }
            }

            .swiper-pagination {
                @include media($lg) {
                    display: none;
                }
            }

            .SwiperNavigation {
                @include media($lg) {
                    left: 0;
                    right: 0;
                    justify-content: center;
                }

                @include media($md) {
                    display: flex;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: $white;

                @include media($md) {
                    display: none;
                }
            }
        }

    }
}

#BestAdventures {
    padding: 82px 0 60px;
    background-color: #FFF8F5;

    @include media($md) {
        padding: 64px 0 71px;
    }

    .BullionmarkSectionHeading {
        .Title {
            margin-bottom: 60px;

            @include media($md) {
                margin-bottom: 38px;
                letter-spacing: -2px;

            }
        }
    }

    .SwiperContainer {
        .swiper {
            .AdventureCardWrapper {
                display: flex;
                flex-direction: column;
                height: 100%;

                img {
                    flex: 1;
                }

                .AdventureCardLink {
                    text-decoration: none;
                    padding: 20px;
                    background-color: $pumpkinOrange;
                    border-radius: 0 0 5px 5px;
                    color: $white;

                    .BottomWrapper {
                        justify-content: space-between;
                        align-items: center;

                        .LeftContent {
                            gap: 8px;

                            .AdventuresTitle {
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .swiper-pagination {
                position: static;
                gap: 6px;
                align-items: center;


                .swiper-pagination-bullet {
                    height: 7px;
                    width: 7px;
                    background-color: #D9D9D9;

                    &.swiper-pagination-bullet-active {
                        border: 2px solid $pumpkinOrange;
                        box-sizing: content-box;
                    }
                }
            }
        }
    }

}

#SectionGetInspired {
    $leftSpacing: 24px;
    padding-left: $leftSpacing;
    @include padding-vertical(108);

    @include media($lg) {
        @include padding-vertical(80);
    }

    @include media($ssm) {
        padding-left: 0;
        @include padding-vertical(67, 85);
    }

    .LayoutWrapper {
        align-items: center;
        gap: 22px;
        padding-left: calc((100% - $xxl - $leftSpacing) / 2);

        @include media-between($lg, $xxl) {
            padding-left: calc((100% - $lg - $leftSpacing) / 2);
        }

        @include media($ssm) {
            flex-direction: column;
            @include padding-horizontal(24);
        }

        .BullionmarkSectionHeading {
            @include media-min($ssm) {
                text-align: left;
            }

            .Title {
                margin-bottom: 10px;

                @include media-min($ssm) {
                    width: max-content;
                }
            }

            .Description {
                @include media($ssm) {
                    font-size: 15px;
                }

                @include media-min($ssm) {
                    max-width: 310px;
                }
            }
        }

        .InspiredCardWrapper {
            max-width: 100%;
            overflow: hidden;

            .swiper-wrapper {
                .swiper-slide {
                    display: flex;
                }
            }

            .InspiredCardContentWrapper {
                flex-direction: column;

                .InspiredCard {
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 500px;
                    height: 60vh;
                    max-height: 700px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    padding: 20px 24px 24px;
                    color: $white;

                    @include media-min($xl) {
                        height: 80vh;
                    }

                    .Head {
                        align-items: center;
                        gap: 10px;

                        .ProfileImage {
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            border-radius: 50%;
                            flex-shrink: 0;

                            @include media($ssm) {
                                width: 40px;
                                height: 40px;
                            }

                            @include media($xs) {
                                width: 34px;
                                height: 34px;
                            }
                        }

                        .Title {
                            font-size: 18px;
                            line-height: 26px;
                            font-weight: 700;
                        }
                    }
                }

                .Content {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    // justify-content: space-between;
                    // height: 100%;


                    .Title {
                        font-size: 35px;
                        line-height: 39px;
                        font-weight: 700;
                        letter-spacing: -2px;
                        margin-top: 10px;
                        @include max-line(3);

                        // @include media($ssm) {
                        //     font-size: 24px;
                        //     line-height: 1.2;
                        // }
                    }

                    .Description {
                        font-weight: 600;
                        line-height: 20px;
                        min-height: 80px;
                        margin-top: 10px;
                        @include max-line(4);

                        @include media($ssm) {
                            font-size: 14px;
                        }
                    }
                }

                .MuiButton-root {
                    margin-top: 20px;
                    width: fit-content;
                }
            }


        }
    }
}

#ExclusiveJourneys {
    background: rgba(255, 241, 234, 0.5);
}

#ExclusiveJourneysWithSlider {
    padding-bottom: 40px;

    .swiper-pagination {
        display: none;
    }

    .BullionmarkSwiperNavigation {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5px;
    }

}

#TravelInspiration {
    position: relative;
    padding: 80px 0 0;
    z-index: 1;

    @include media($md) {
        padding: 50px 0 0;
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 40%;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: #F1EFEC;
    }

    .TravelInspirationTitle {
        text-align: center;
        max-width: 250px;
        margin: 0 auto 50px;

        @include media($md) {
            margin-bottom: 30px;
        }

        @include media($ssm) {
            max-width: 220px;
        }
    }

    .TravelInspirationSliderWrapper {
        position: relative;
        top: -50px;

        @include media($md) {
            top: 0;
        }

        .swiper-slide {
            padding-bottom: 80px;

            @include media($md) {
                padding-bottom: 0;
            }

            &.swiper-slide-active {
                top: 80px;

                @include media($md) {
                    top: 0;
                }
            }

            &.swiper-slide-prev,
            &.swiper-slide-next {
                top: 20px;

                @include media($md) {
                    top: 0;
                }
            }
        }

        .TravelInspirationSlideWrapper {
            .TravelInspirationSlideImageWrapper {
                position: relative;

                img {
                    width: 100%;
                    max-height: 580px;
                    object-fit: cover;

                    @include media($sm) {
                        max-height: 60vh;
                    }
                }

                .TravelInspirationSlideTitle {
                    // position: absolute;
                    // top: 47px;
                    // left: 0;
                    // right: 0;
                    margin: 10px auto 0;
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: 700;
                    // color: $white;
                    text-align: center;
                    display: inline-block;
                }
            }

            .TravelInspirationSlideBottomContent {
                padding: 0 13px;
                text-align: center;

                .BullionmarkSectionHeading {
                    .Description {
                        margin: 20px 0 17px;

                        @include media($md) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            position: static;
            gap: 6px;
            padding-top: 60px;
            align-items: center;


            @include media($md) {
                padding-top: 40px;
            }

            @include media($ssm) {
                display: none;
            }

            .swiper-pagination-bullet {
                height: 7px;
                width: 7px;
                background-color: #D9D9D9;

                &.swiper-pagination-bullet-active {
                    border: 2px solid $pumpkinOrange;
                    box-sizing: content-box;

                }
            }
        }
    }
}

#InspiringStories {
    padding: 0 0 80px;

    @include media($md) {
        padding: 50px 0;
    }

    .InspiringStoriesTitle {
        margin-bottom: 41px;

        @include media($md) {
            margin-bottom: 20px;
        }
    }

    .InspiringStoriesContent {
        justify-content: space-between;
        align-items: baseline;
        gap: 36px;

        @include media($md) {
            flex-direction: column;
            gap: 50px;
        }

        .LeftContent,
        .RightContent {
            flex: 1;
            cursor: pointer;

            img {
                width: 100%;
            }

            .BullionmarkSectionHeading {
                text-align: left;

                .Title {
                    font-size: 30px;
                    line-height: 42px;
                    margin: 12px 0 9px;


                    @include media($md) {
                        font-size: 25px;
                        line-height: 35px;
                    }

                }
            }

            .Date {
                line-height: 26px;
                font-weight: 700;
                margin-top: 14px;
                color: $pumpkinOrange;

                @include media($md) {
                    margin-top: 10px;
                }

                @include media($ssm) {
                    margin-top: 22px;
                }
            }
        }

    }

    &.ShopInspiringStories {
        padding-top: 60px;
    }
}

#SectionNewsletter {
    overflow: hidden;

    .NewsletterBG {
        .image {
            width: 100% !important;

            img {
                width: 100%;
                object-fit: cover;

                // @include media($ssm) {
                //     scale: 1.5;
                //     padding-top: 70px;
                // }

                // @include media($xs) {
                //     scale: 2;
                // }
            }
        }

    }

    .BackgroundHolder {
        margin-top: -130px;
        padding-bottom: 105px;
        background-color: $peachSoft;

        // @include media($xl) {
        //     margin-top: -300px;
        // }

        @include media($lg) {
            padding-bottom: 60px;
        }

        @include media($md) {
            margin-top: -70px;
        }

        @include media($sm) {
            margin-top: -20px;
        }

        // @include media($xs) {
        //     margin-top: -30px;
        // }

        .BullionmarkSectionHeading {
            .Title {
                color: $white;

                @include media($sm) {
                    color: #000000;
                    padding-top: 10px;
                }

                @include media($md) {
                    font-size: 32px;
                    line-height: 43px;
                }
            }
        }
    }

    .MuiContainer-root {
        max-width: 643px;

        @include media($md) {
            position: relative;
            z-index: 1;
        }

        .BullionmarkSectionHeading {
            margin-bottom: 35px;

            @include media($md) {
                margin-bottom: 20px;
            }
        }

        form {
            .InputRow {
                &.Agreement {
                    .MuiFormControl-root {
                        .MuiFormLabel-root {
                            display: none;
                        }

                        .MuiFormGroup-root {
                            .MuiFormControlLabel-root {
                                .MuiFormControlLabel-label {
                                    @include media($sm) {
                                        font-size: 11px;
                                    }
                                }

                            }
                        }
                    }
                }

                &.ContactSelect {
                    .MuiFormControl-root {
                        .react-tel-input {
                            .form-control {
                                border-radius: 5px;
                                background-color: rgba($white, 0.3);

                                &:focus {
                                    outline-color: $pumpkinOrange;
                                }
                            }
                        }
                    }
                }

                .MuiTextField-root {
                    .MuiInputBase-root {
                        background-color: rgba($white, 0.3);

                        .MuiInputBase-input {
                            padding: 16px 18px;

                            // @include media($sm) {
                            //     padding: 10px 16px;
                            // }
                        }

                        .MuiOutlinedInput-notchedOutline {
                            border-radius: 5px;
                        }
                    }
                }
            }

            .ActionWrapper {
                justify-content: center;
                margin-top: 35px;

                .MuiButton-root {
                    @include media-min($md) {
                        min-width: 191px;
                    }
                }
            }
        }
    }
}

.BullionmarkFrontPage {
    .MuiButton-root {
        border-radius: 8px;
    }
}