@import "~bootstrap/dist/css/bootstrap.min.css";
// Settings
@import "settings/variables";
@import "settings/mixins";
@import "settings/functions";
@import "settings/bootstrap";
@import "fonts";

// Components
@import "components/scrollbar";
@import "components/ckeditor";
@import "components/swiper";
@import "components/utils";
@import "components/mui";
@import "components/card";
@import "components/drawer";
@import "components/dialog";
@import "components/recentOrderTable";
@import "components/table";
@import "components/circularProgressbar";
@import "components/formFields";
@import "components/loader";
@import "components/orderDateStatusSelector";
@import "components/reactSpectrum";
@import "components/tooltip";
@import "components/quantityInputs";
@import "components/reactPhoneInput2";
@import "components/cartDropdownMenu";
@import "components/snackbar";
@import "components/skeletonAnimation";

// Common
@import "common/header";
@import "common/footer";
@import "common/layout";

// Pages
@import "pages/signin.scss";
@import "pages/frontPage.scss";
@import "pages/home.scss";
@import "pages/category.scss";
@import "pages/memberships.scss";
@import "pages/contactus.scss";
@import "pages/specificCalculator.scss";
@import "pages/calculators.scss";
@import "pages/blog.scss";
@import "pages/blogDetails.scss";
@import "pages/order-confirmation.scss";
@import "pages/shopping-cart.scss";
@import "pages/vault.scss";
@import "pages/productDetail.scss";
@import "pages/order-details.scss";
@import "pages/checkout.scss";
@import "pages/compare-products.scss";
@import "pages/recentlyViewedProducts.scss";
@import "pages/wishlist.scss";
@import "pages/topics.scss";
@import "pages/orderHistory.scss";
@import "pages/addresses.scss";
@import "pages/accountTypeWrapper.scss";
@import "pages/Error404.scss";
@import "pages/history.scss";
@import "pages/privateHolding.scss";
@import "pages/privateHoldingAdd.scss";
@import "pages/sitemap.scss";
@import "pages/404.scss";

// Bullionmark pages
@import "pages/bullionmarkFrontPage.scss";
@import "pages/bmk/shop.scss";
@import "pages/bmk/emailConfirmation.scss";
@import "pages/bmk/confirmation.scss";
@import "pages/bmk/activateAccount.scss";
@import "pages/bmk/BmkPostDetailPage.scss";
@import "pages/bmk/registrationPage.scss";
@import "pages/bmk/forgot-password.scss";
@import "pages/bmk/reset-password.scss";
@import "pages/bmk/charts.scss";
